/projects/earphone/app.layout
/projects/earphone/.ld
/projects/earphone/Output/obj
/projects/earphone/Output/bin/Output
/projects/earphone/Output/bin/app.bin
/projects/earphone/Output/bin/app.rv32
/projects/earphone/Output/bin/app.xm
/projects/earphone/Output/bin/appxm.o
/projects/earphone/Output/bin/download.xm
/projects/earphone/Output/bin/EQ.eqproj
/projects/earphone/Output/bin/header.bin
/projects/earphone/Output/bin/map
/projects/earphone/Output/bin/postbuild
/projects/earphone/Output/bin/prebuild
/projects/earphone/Output/bin/res.bin
/projects/earphone/Output/bin/res.h
/projects/earphone/Output/bin/res.xm
/projects/earphone/Output/bin/updater.bin
/projects/earphone/Output/bin/xcfg.bin
/projects/earphone/Output/bin/xcfg.h
/projects/earphone/Output/bin/xcfg.xm

